/*Check out*/

.flex-text {
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
}

.cta-checkout{
  margin: 20px auto;
}

/*Checkout form*/

* {
  box-sizing: border-box;
}


.form-checkout{
    padding: 2em;
    background: #ebebeb;
  }

  .img-checkout{
      width: 50%;
      margin: 0px auto;
      display: block;
  }

  .flex-checkout {
    margin-top: 10px;
  }
  
  .form-checkout label{
    font-size: 14px;
  }

