* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main{
  padding: 20px 40px;
}


.container {
  max-width: 760px;
  margin: 0 auto;
}

form {
  padding: 2em;
  background: #ffffff;}

input {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
}
button {
  background: rgb(255, 161, 92);
  border: none;
  width: 200px;
  padding: 1rem;
  color: black;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
}

button:hover{
  background-color: #FF6D15;
  transition: 1s;
}

button:active{
  background-color: #FF6D15;
}



label {
  display: block;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
}

label p{
  font-size: 13px;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

#message {
  padding: 10px 50px 60px 10px;
}

.contact-info{
  margin-top: 40px;
  }
  

  form button{
    text-align: center;
    left: 8%;
    position: relative;
  }

