



header,
main,
.top-text
{
  font-family: 'Nanum Gothic', sans-serif;
}

.form-wrapper-hight {
  min-height: 75vh;
} 

.cta {
  background-color: rgb(255, 161, 92);
  color: black;
  position: relative;
  display: block;
  padding: 15px 20px;
  text-align: center;
  border-radius: 12px;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 10px auto 40px;
  border-style: none;
  }

  .cta:hover{
    background-color: #FF6D15;
    transition: 1s;
  }
  
  .cta:active{
    background-color: rgb(76, 95, 85);
  }



  .price{
    color: rgb(125, 125, 125);
  }

  .line{
    height: 1px;
    background: black;
  }

img{
  width: 100%;
  height: auto;
  position: relative;
  position: static;
}

.logo-img{
  width: 140px;
  height: auto;
  position: relative;
  position: static;
  margin: 0px auto;
  }



.top-text{
  margin: 0px;
  padding: 15px 0px;
  background-color: rgb(226, 226, 226);
  text-align: center;
  margin-top: 90px;
}

.item{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-family: 'Nanum Gothic', sans-serif;
}

.products{
  margin-left: auto;
  margin-right: auto;
}


/*Top bar*/

body{
  margin: 0px;
  min-height: 100vh;
  background-color: #f9f9f9f1;
  overflow-x: hidden;
}

header{
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9f1;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.fa-circle-arrow-left{
  font-weight: 900;
  padding-left: 15px;
  color: rgb(134, 134, 134);
  margin: 0px 0px 0px 20px;
  font-size: 1.2em;
  padding: 17px 0px;
}

.fa-circle-arrow-left:hover{
  color: rgb(76, 95, 85);
}

.fa-circle-arrow-left:active{
  background-color: rgb(76, 95, 85);
}

.fa-bars{
  font-size: 1.2em;
}

.logo{
    padding: 10px 0px 0px 0px;
    text-align: center;
  }




.hamburger {
  position: absolute;
  left: 330px;
  padding: 20px 20px 0px 0px;
}


nav {
  display: none;
  flex-direction: column;
  list-style-type: none;
  background-color: #f9f9f9f1;
  justify-content: center;
  gap: 20px;
}

#hamburger-menu:checked ~ nav {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
}



nav, #hamburger-menu{
  display: none;
}

nav a{
  display: block;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

nav a:hover{
  color: rgb(76, 95, 85);
}

nav li{
  display: inline-block;
  font-family: 'Nanum Gothic', sans-serif;
}

nav ul{
  padding: 0px;
  display: grid;
}


/*links*/

a{
  text-decoration: none;
  color: black;
}


.active{
  text-decoration: underline;
}


/*footer*/

footer{
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  font-size: 20px;
  background-color: #ebebeb;
  color: black;
  padding: 20px 0px;
  width: 100%;
  border-top: 1px solid black;
}


.copyright{
  padding-top: 7px;
  margin: 0px;
}

.pay-methode {
  font-size: 2em;
}


/*forms*/

.half-width{
  flex: 0 0 auto;
  width: 50%;
  padding-top: 10px;
}


.full-width{
  flex: 0 0 auto;
  width: 100%;
  padding-top: 10px;
}



.form-checkout{
  display: flex;
  flex-wrap: wrap;
}

form > * {
  max-width: 100%;
  padding: 0 40px;
}

input{
  border-color: rgb(210, 210, 210);
  border-radius: 5px;
  border-width: thin;
  padding: 4px;
  display: block;
  width: 100%;
}