

/*index*/

main {
  margin-top: 90px;
}

.welcome{
  background: url(../images/sale\ Image.jpg);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  margin-bottom: 40px;
}



.welcome-text{
  color: white;
  padding: 20px 30px;
  text-align: center;
  font-size: 1em;
  background-color: rgba(76, 95, 85, 0.67);
  margin: 0px;
  font-family: 'Libre Baskerville', serif;
}


 h1{
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  font-family: 'Libre Baskerville', serif;
 }

.cta-categorie {
  color: white;
  background-color: rgb(131, 158, 143);
  position: inherit;
  display: block;
  padding: 10px 25px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Libre Baskerville', serif;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}



.cta-categorie:active{
  background-color: rgb(76, 95, 85);
}

.cta-categorie:hover{
  background-color: rgb(76, 95, 85);
}


