/*media*/

@media (min-width:400px){
  .categori-list img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  nav ul{
    display: flex;
    margin: 3px;
  }
  .checkbox{
    display: none;
  }
  nav{
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: row;
  }
  nav a{
    color: black;
  }
  
  .hamburger{
    display: none;
  }
}

@media (min-width:700px) {


/*hamburger menu*/


nav ul{
  display: flex;
}
.checkbox{
  display: none;
}
nav{
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}
nav a{
  color: black;
}

.hamburger{
  display: none;
}
  .flex-item{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 20px 150px 0px;
  }

  body{
    min-height: auto
  }


  .fa-circle-arrow-left{
    font-size: 2.2em;
  }

  .products {
    display: inline-block;
    width: 75%;
    margin-top: 25px;
  }

  .products-img{
    max-width: 400px;
  }



  .half-width,
  .full-width{
    padding-top: 30px;
}

  /*index*/

  .main-index {
    margin-top: 134px;
  }

  .categori-list{
    display: flex;
    justify-content: space-between;}

  .categori-list img{
    display: flex;
    padding: 20px;
    width: 80%;
    }

  .cta-categorie{
    display: block;
    padding: 10px 25px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    }

  .welcome{
    min-height: 330px;
    }

  .welcome-text{
    font-size: 2em;
  }

  .cta-categorie:hover{
    background-color: rgb(76, 95, 85);
    transition: 1s;
  }

  /*products*/

  header{
    justify-content: center;
  }

  .product-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .jackets{
    margin-top: 200px;
  }

  .container{
    width: 110%;
  }

  .h1-products{
    margin-top: 25px;
  }
  

  /*product*/
  .flex-item-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px;
    width: 30%;
  }

  .item img{
    width: 35%;
  }

  .item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin: 70px;
  }

  .hight-item{
    margin-top: 135px;
  }

  .product-info{
    padding: 0px 230px 10px;
  }


  /*about*/

  .form-wrapper-hight {
    min-height: 120vh;
  }

  .about{
    display: flex;
    margin-top: 100px;
  }

  .about-text{
    width: 50%;
  }

  .about-img{
    width: 50%;
  }

  .about-img-big{
    width: 49%;
  }

  /*contact*/

  .contact {
    font-size: 1.4em;
  }

  form button {
    left: 33%;
  }

  .top-text{
    margin-top: 136px;
    font-size: 25px;
  }

/*checkout*/

.top-text-checkout{
  margin-top: 134px;
}

.form-checkout {
  width: 50%;
  font-size: 1.4em;
  padding: 0px;
  height: 20%;
  margin: 0px auto;
}

.flex-text > *{
  font-size: 1em;
  padding: 15px 100px 70px 25px;
}

.cta-checkout {
  margin-top: 35px;
  font-size: 16px;
  padding: 15px 40px;
}

input{
  padding: 10px;
}

.flex-container-cart{
  flex-direction: row;
  margin: 50px;
}

.flex-checkout{
  width: 60%;
  padding: 50px 0px 20px 50px;
  margin-bottom: 320px;
}

.checkout-price{
  margin: 16px 0px;
}

.checkout-name{
  padding-right: 20px
}

.total-block{
  width: 33%;
}

/*checkout-succsess*/

.cta-succsess {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
  font-size: 1em;
}

.fa-circle-check {
  font-size: 10em;
}

.con-g {
  font-size: 2em;
}

.order{
  font-size: 0.8em;
}

.form-wrapper-succsess {
  margin-top: 115px;
  margin-bottom: 60px;
}

.succsess-text {
  font-size: 1.2em;
}
}